<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assignmentexpert"
    android:versionCode="1"
    android:installLocation="preferExternal"
    android:versionName="1.0" >
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:anyDensity="true"/>
    <uses-sdk    android:minSdkVersion="10"
        android:targetSdkVersion="19" 
        android:maxSdkVersion="19"/>
  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  	<uses-permission android:name="android.permission.READ_CALENDAR"> </uses-permission>
	<uses-permission android:name="android.permission.GET_TASKS"> </uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
 	<!-- permissions for google messaging  -->	
 	
 	
 	 <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.assignmentexpert.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.assignmentexpert.permission.C2D_MESSAGE" />
 	
    <application
       android:name="com.library.ApplicationMemory"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
         android:theme="@android:style/Theme.Black.NoTitleBar"
         android:allowBackup="true"
         >
          <receiver android:name="com.library.DownloadReceiver">
		   <intent-filter>
		    <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
		   </intent-filter>
		  </receiver>
        <activity 
            android:name=".LoginActivity"
            android:noHistory="true"
             android:configChanges="keyboardHidden|orientation"
             android:windowSoftInputMode="stateAlwaysHidden"
             > 
        </activity>
        <activity
            android:name="com.assignmentexpert.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.assignmentexpert.RestoreActivity"
            android:label="Restore"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
          <activity
            android:name="com.assignmentexpert.NewOrderActivity"
            android:label="NewOrder"
            android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation">
        </activity>
        
          <activity
            android:name="com.assignmentexpert.FileManagerActivity"
            android:label="File Manager"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name="com.assignmentexpert.DashboardActivityAlt"
            android:label="DashboardAlt"
            android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
        		<action android:name="new_order" />
    		</intent-filter>
        </activity>
        <activity
            android:name="com.assignmentexpert.NewMessageActivity"
            android:label="NewMessageActivity"
            android:windowSoftInputMode="stateAlwaysHidden" 
             android:configChanges="keyboardHidden|orientation">
             
        </activity>
        
        <activity
            android:name="com.assignmentexpert.NewEssayActivity"
            android:label="NewEssayActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation" >
             
        </activity>
     
        <service android:name="com.library.ServiceIntentMessages"
            android:enabled="false">
        </service>
        <service android:name="com.library.DownloadService"/>
         <service android:name="com.library.ServiceMessages">
        </service>
        <activity android:name="com.paypal.android.MEP.PayPalActivity"
   android:theme="@android:style/Theme.Translucent.NoTitleBar"
   android:configChanges="keyboardHidden|orientation"/>
        <activity
       		 android:name=".AssignmentPref"
        	 android:label="Assignment"
        	  android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation"
            >
        	
        </activity>
      <activity
       		 android:name="com.tabscreens.LoginTabScreen"
  		    android:windowSoftInputMode="stateAlwaysHidden"         
  		    android:noHistory="true"  
  		    android:launchMode= "singleInstance"
  		     android:configChanges="keyboardHidden|orientation">
            <!--  comment for GCM testing  -->
        	    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"
                     />
             </intent-filter>
             
            
             
      </activity>
      <activity
       		 android:name="com.gcmservice.DemoActivity">
            <!--  
       		  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"
                     />
             </intent-filter>
             -->
             
       		 </activity>
              <activity
       		 android:name="com.tabscreens.DashboardTabScreen"
        	 android:label="Assignment"
        	 android:launchMode= "singleInstance"
        	  android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation"
           >
        	 <intent-filter>
        		<action android:name="tab_change_listener_order" />
    		</intent-filter>
        </activity>
          <activity
       		 android:name=".ProfilePref"
        	 android:label="Profile"
        	 >
        	
        </activity>
         <activity
       		 android:name=".RegisterActivityCompl"
        	 android:label="Register completion"
        	  android:windowSoftInputMode="stateAlwaysHidden" 
            android:configChanges="keyboardHidden|orientation">
        	
        </activity>
         
              <activity        	
            	 android:name=".ExitActivity"
                android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation"/>
                <activity        	
            	 android:name="com.tabscreens.OrderInfoTabScreen"
               android:windowSoftInputMode="stateHidden"
               android:launchMode= "singleInstance"
            android:configChanges="keyboardHidden|orientation"
            />
       
       	<activity        	
            	 android:name=".ProfileCompl"
                 android:windowSoftInputMode="stateHidden" 
           	     android:configChanges="keyboardHidden|orientation"/>
        <activity        	
            	 android:name="com.fragmentactivities.ProfileFragmentActivity"
                 android:windowSoftInputMode="stateHidden" 
           	     android:configChanges="keyboardHidden|orientation"/>
         <activity        	
            	 android:name="com.fragmentactivities.RegisterFragmentActivity"
                 android:windowSoftInputMode="stateHidden" 
           	     android:configChanges="keyboardHidden|orientation"/>
         <activity        	
            	 android:name="com.fragmentactivities.InteractionsFragmentActivity"
                 android:windowSoftInputMode="adjustPan"
           	     android:configChanges="keyboardHidden|orientation"
           	     />
           <activity        	
            	 android:name="com.fragmentactivities.OrderInfoFragmentActivity"
                 android:windowSoftInputMode="stateHidden" 
           	     android:configChanges="keyboardHidden|orientation"/>
           <activity        	
            	 android:name=".GifActivity"
                 android:windowSoftInputMode="stateHidden" 
           	     android:configChanges="keyboardHidden|orientation"/>
           
             <activity android:name="com.facebook.LoginActivity"
           android:theme="@android:style/Theme.Translucent.NoTitleBar"
           android:label="@string/app_name" />

               <meta-data android:name="com.crashlytics.ApiKey" android:value="fcd3ac13af06f0ec06f8cc2fa25e4c4119e89f93"/>
             
              
           <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
       
           
             <receiver
            android:name="com.gcmservice.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                  <category android:name="com.assignmentexpert" />
            </intent-filter>
        </receiver>
            <service android:name="com.gcmservice.GcmIntentService"/>
            
            
             
    </application>
 	
</manifest>